### 내장함수와 외부 모듈 함수, 사용자 정의 함수
내장함수(Built-in Functions)            
- 파이썬 언어에 기본적으로 포함되어 있는 함수들.
- 별도의 import 없이 바로 사용 가능
- ex> print(), len(), type(), pow(), abs() 등

외부 모듈 함수 (External Module Functions)
- 외부 라이브러리나 모듈에 포함된 함수들
- 사용하기 전에 해당 모듈 Import 해야함.

사용자 정의 함수 (User-defined Functions)
- 사용자가 직접 정의한 함수들
- 특정 작업을 수행하기 위해 사용자가 직접 코드를 작성하여 함수로 정의

In [549]:
# 거듭제곱
var_01 = 3
print(var_01**2)
print(var_01**3)            # 파이썬 기본 기능

print(pow(var_01, 7))       # 파이썬 내장 함수

9
27
2187

In [550]:
# 반올림 (내장함수)
print(round(2.5))
print(round(3.5))
print(round(2.5, 0))
print(round(123.45, 1))
print(round(123.455, 2))

2
4
2.0
123.5
123.45

외부 모듈 사용
1. 사용하고자 하는 모듈 import (math)

In [551]:
import math

2. 모듈 내 원하는 함수 사용

In [552]:
# 거듭제곱
math.pow(var_01, 2)

9.0

In [553]:
# 제곱근
math.sqrt(var_01)

1.7320508075688772

In [554]:
# 삼각비
math.sin(45)

0.8509035245341184

In [555]:
# 올림
print(math.ceil(1.1))
print(math.ceil(1.0))

2
1

In [556]:
# 내림
print(math.floor(1.1))
print(math.floor(1.9))

1
1

In [557]:
# 예제 : sin(45)^2 + cos(45)^2
math.pow(math.sin(45) ,2) + math.pow(math.cos(45) ,2)

1.0

### Random Module
난수 발생을 위한 모듈

In [558]:
import random

In [559]:
# 1 ~ 100 사이의 정수 랜덤 추출
random.randint(1, 100)

4

In [560]:
# sampling() : 범위 내의 n개 표본 무작위 추출
random.sample(range(1, 46), 6)

[37, 4, 31, 45, 30, 18]

In [561]:
# shuffle() : 리스트 자료형 순서 섞기
a = [1, 2, 3, 4, 5]
random.shuffle(a)
print(a)

[1, 4, 3, 5, 2]

In [562]:
# 메모리에 있는 변수 보기
dir()[-5:]

['tuples', 'var01', 'var02', 'var_01', 'y']

In [563]:
# 메모리의 변수 제거
del var_01
dir()[-5:]

['timedelta', 'tuples', 'var01', 'var02', 'y']

## 관계 연산자

In [564]:
num1 = 100
num2 = 20

In [565]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

## 논리 연산자

In [566]:
# 논리 연산자(& , |)
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))

print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

## 부정 연산자

In [567]:
# 부정 연산자 : not
not(num1 >= 50)

False

## 문자열 자료형

In [568]:
# 기본형 (한 줄)
var01 = "Hello World!"
var01

'Hello World!'

In [569]:
# 여러줄의 문자열 자료형
var01 = """
    Hello World!
    Good to Meet You!
tab 없이도 출력 가능하다
안에 적는 내용 그대로 출력
"""
var01
print(var01)

    Hello World!
    Good to Meet You!
tab 없이도 출력 가능하다
안에 적는 내용 그대로 출력

In [570]:
# 쌍따옴표와 홑따옴표, \n, \t
print("My fathers wife is \nmy mother.")
print('He says \t"I love you."')

My fathers wife is
my mother.
He says 	"I love you."

In [571]:
# 여러 문자열 연결해서 출력 (+ or ,)
var01 = "Python"
var02 = "is fun."
print(var01 + var02)
print(var01, var02)

Pythonis fun.
Python is fun.

In [572]:
# 연속으로 같은 문자열 출력 (*)
print(var01*3)

PythonPythonPython

### 문자열 Indexing과 Slicing

In [573]:
str = "abcdefghijklmn"

print(str[0])           # indexing
print(str[0:3])         # 0 ~ (3 - 1)번쨰 까지 출력
print(str[-1])          # 가장 마지막 순서 인덱스 출력
print(str[5:])          # 5번쨰 인덱스부터 끝까지 출력
print(str[5:-2])        # 5번쨰 인덱스부터 끝의 2개 제외하고 출력
print(str[5:-3])        # 5번쨰 인덱스부터 끝의 3개 제외하고 출력

a
abc
n
fghijklmn
fghijkl
fghijk

In [574]:
# 중첩 인덱싱
mylist = [['가', '나', '다'], [4, 5, 6], 7, 8, 9]
print(mylist[1])
print(mylist[0][2])

[4, 5, 6]
다

In [575]:
# indexing -  Step 활용
mylist = [100, 200, 300, 400, 500]
print(mylist[::2])      # 2칸씩 건너 뛰기
print(mylist[::-1])     # 역순으로 출력
print(mylist[::-2])     # 역순으로 2칸씩 건너 뛰기

[100, 300, 500]
[500, 400, 300, 200, 100]
[500, 300, 100]

In [576]:
# 예제 : 2020 1229 Snow 출력되도록 하기
str = "20201229Snow"
print(str[-4:])
print(str[:4])              # 처음 부터 4개 문자
print(str[4:8])             # 인덱스 4번부터 (8-1)번째 까지 (8번쨰 전까지)
print(str[8:])              # 인덱스 8번부터 끝까지
print(str[:4], str[4:8], str[8:])

Snow
2020
1229
Snow
2020 1229 Snow

In [577]:
# 예제 : abcde 출력되도록 하기
str = "abbde"
print(str[:2] + "c" + str[3:])

abcde

### 문자열 Formatting

In [578]:
# 정수 (d)
print("I have %d apples."%2)

I have 2 apples.

In [579]:
# 실수
print("%0.4f"%3.14159)              # 실수 소수점 아래 4자리 표현
print("%10.4f"%3.14159)             # 전체 10자리 실수 표현

3.1416
    3.1416

In [580]:
# 문자열 (s)
print("I have %s apples."%"two")

I have two apples.

In [581]:
# 여러 개의 변수를 사용
number = 2
fruit = "apple"
print("I have %d %s"%(number, fruit))

I have 2 apple

In [582]:
# 문자열 정렬
print("I have 2 %10s."%"apples")  # 우측 정렬(자릿수 10자리)
print("I have 2 %-10s."%"apples") # 좌측 정렬(자릿수 10자리)

I have 2     apples.
I have 2 apples    .

#### 정렬과 공백

In [583]:
print("%10s" % "hi")           # 오른쪽 정렬
print("%-10sjane." % 'hi')      # 왼쪽 정렬

        hi
hi        jane.

### format 함수

In [584]:
"I have {0} apples".format(3)

'I have 3 apples'

In [585]:
"I have {0} apples".format("three")

'I have three apples'

In [586]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [587]:
number = 10
day = 'three'
"I have {0} apples, I will go abroad for {1} days".format(number, day)

'I have 10 apples, I will go abroad for three days'

In [588]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [589]:
# 인덱스와 이름 혼용
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

#### 정렬

In [590]:
# 왼쪽 정렬 : 문자열을 왼쪽으로 정렬하고 총 자리수를 10으로 맞춤
"{0:<10}".format("hi")

'hi        '

In [591]:
# 오른쪽 정렬 : 문자열을 오른쪽으로 정렬하고 총 자리수를 10으로 맞춤
"{0:>10}".format("hi")

'        hi'

In [592]:
# 가운데 정렬 : 문자열을 가운데로 정렬하고 총 자리수를 10으로 맞춤
"{0:^10}".format("hi")

'    hi    '

#### 공백 채우기

In [593]:
"{0:=^10}".format("hi")

'====hi===='

In [594]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

#### 소수점 표현하기

In [595]:
y = 3.42134234
print("{0:0.4f}".format(y))
print("{0:10.4f}".format(y))

3.4213
    3.4213

In [596]:
"{{ and }}".format()

'{ and }'

#### f-String

In [597]:
name = '홍길동'
age = 30
f'나의 이름은 {name}이고 나이는{age}세 입니다.'

'나의 이름은 홍길동이고 나이는30세 입니다.'

In [598]:
# F-String 표현식
f'나는 내년이면 {age+1}세 입니다.'

'나는 내년이면 31세 입니다.'

In [599]:
# dictionary로 사용하기
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [600]:
import pandas as pd
import numpy as np

### 문자열 관련 함수

In [601]:
# count() & len() : 문자의 개수, 문자열의 길이 세는 함수
str = "I have a dream."
print(str.count('a'))
print(len(str))

3
15

In [602]:
# find() : 찾고자 하는 문자의 인덱스 반환
print(str.find('e'))
print(str.find('I'))
print(str.find('x'))
print(str[str.find('e')])

5
0
-1
e

In [603]:
# rfind() : 찾고자 하는 문자를 오른쪽부터 찾아서 인덱스 반환
str = "I have a dream."
print(str.rfind('e'))
print(str.rfind('I'))
print(str.rfind('x'))
print(str[str.rfind('e')])

11
0
-1
e

In [604]:
# index() : 찾고자 하는 문자의 인덱스 반환
a = "Life is too short"
print(a.index('t'))
# print(a.index('k'))

8

In [605]:
# startswith() : 접두사로 문장 찾기
str = "I have a dream."
print(str.startswith('e'))
print(str.startswith('I'))
print(str.startswith('x'))
print(str[str.startswith('e')])

False
True
False
I

In [606]:
# endswith() : 접두사로 문장 찾기
str = "I have a dream."
print(str.endswith('m'))
print(str.endswith('I'))
print(str.endswith('x'))
print(str[str.endswith('e')])

False
False
False
I

In [607]:
# join() : 문자열 합치기
# 리스트 자료형 합치기
li = ['A', 'B', 'C', 'D', 'E']
print('-'.join(li))
print('**'.join(li))
print('  '.join(li))
print(''.join(li))

A-B-C-D-E
A**B**C**D**E
A  B  C  D  E
ABCDE

In [608]:
# dictionary_key를 이용하여 합치기
dic = {'1':'A', '2': 'B', '3': 'C', '4': 'D', '5': 'E'}
print('-'.join(dic))
print('**'.join(dic))
print('  '.join(dic))
print(''.join(dic))

1-2-3-4-5
1**2**3**4**5
1  2  3  4  5
12345

In [609]:
# upper() / lower()
str = 'Hi'
print(str.upper())
print(str.lower())

HI
hi

In [610]:
# 공백 제거
# 오른쪽 공백 제거
str = 'hi       '
print(str.rstrip())

# 공백 제거
str = '       hello'
print(str.lstrip())

# 모든 공백 제거
str = '   hi   I am studying Python!      '
print(str.strip())

hi
hello
hi   I am studying Python!

In [611]:
# 문자 제거
str = "Hi this is Jin's studying notes."
print(str.rstrip('notes.'))
print(str.lstrip('Hi'))
print(str.lower().strip('itenosh.'))

Hi this is Jin's studying
 this is Jin's studying notes.
 this is jin's studying

In [612]:
# 문자열 바꾸기 : replace(바꾸고 싶은 문자열, 바꿀 내용)
str = 'Life is too short to be happy'
print(str.replace('happy', 'unhappy'))

str = '113333555555'
print(str.replace('1', '2'))
print(str.replace('3', '7', 2))

Life is too short to be unhappy
223333555555
117733555555

In [613]:
# split() : 문자열 분리
A = '1,2,3'
B = '1,2,3,4,5'
C = '1,2,,3,'

print("split A : ", A.split(','))
print("A 리스트 요소 개수 : ", len(A))
print("split B : ", B.split(',', maxsplit=1))
print("B 리스트 요소 개수 : ", len(B))
print("split C : ", C.split(','))
print("C 리스트 요소 개수 : ", len(C))

split A :  ['1', '2', '3']
A 리스트 요소 개수 :  5
split B :  ['1', '2,3,4,5']
B 리스트 요소 개수 :  9
split C :  ['1', '2', '', '3', '']
C 리스트 요소 개수 :  7

## 날짜형 변환

In [614]:
import datetime

In [615]:
print(dt.strftime("%A %d. %B %Y"))
print(dt.strftime("%Y-%m-%d"))

Monday 27. May 2024
2024-05-27

In [617]:
dt1 = datetime.datetime(2024, 12, 25, 00)
dt2 = datetime.datetime(2024, 5, 2, 13)
td = dt1 - dt2
td

datetime.timedelta(days=236, seconds=39600)

In [618]:
from datetime import datetime, timedelta

In [619]:
time1 = datetime(2020, 12, 25, 21, 0, 0, 0)
print(time1)

2020-12-25 21:00:00

In [620]:
time2 = datetime.now()
print(time2)

2024-05-27 15:38:51.300209

In [621]:
print(time1 - time2)
print((time1 - time2).days, '일')
print((time1 - time2).seconds, '초')

-1249 days, 5:21:08.699791
-1249 일
19268 초

In [622]:
# 특정 날짜로부터 시간 계산 : timedelta

# 현재 시간
print(time2)

# 현재 시간부터 5일 뒤
print(time2 + timedelta(days=5))

# 현재 시간부터 3일 전
print(time2 + timedelta(days=-3))

# 현재 시간부터 1일 뒤의 2시간 전
print(time2 + timedelta(days=1) + timedelta(hours=-2))

2024-05-27 15:38:51.300209
2024-06-01 15:38:51.300209
2024-05-24 15:38:51.300209
2024-05-28 13:38:51.300209